body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f3f3;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #f0e112d0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(4, 243, 16, 0.1);
}

.screen {
    height: 50px;
    background-color: #a51313;
    color: #f5f8f6;
    text-align: right;
    padding: 10px;
    font-size: 2em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    background-color: #f3580a;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}
